body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 10vh;
}

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}